---
const { title } = Astro.props;

import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center">
			<div class="container flex flex-row items-center justify-between max-w-[1200px] mx-auto">
				<img src="/duolingoFont.svg" alt="">
				<a class="relative group flex flex-row items-center hover:text-[#50d71e] text-gray-400 font-extrabold uppercase" href="#">
					Idioma de la página: español
					<Icon name="mdi:chevron-down" />
					<div class="absolute top-6 hidden group-hover:block">
						Opciones de menú
					</div>
				</a>
			</div>
		</header>
		<div class="mt-32 flex justify-center mx-auto">
			<div class="max-w-lg">
				<img src="/duolingo-promo.svg" alt="">
			</div>
			<div class="w-1/3 flex flex-col justify-center items-center">
				<h1 class="text-3xl text-center font-bold text-slate-700 px-20">
					¡La forma divertida, efectiva y gratis de aprender un idioma!
				</h1>
				<div class="w-80 h-10 bg-[#58cc02] flex items-center justify-center text-white font-bold rounded-xl mt-10 p-6 border-b-4 border-green-600 cursor-pointer hover:bg-[#7edd36]">
					EMPIEZA AHORA
				</div>
				<div class="uppercase w-80 h-10 flex items-center justify-center text-[#1cb0f6] font-bold rounded-xl mt-4 border-b-4 cursor-pointer border-x-2 border-t-2 p-6 hover:bg-gray-200/60">
					ya tengo una cuenta
				</div>
			</div>
		</div>
		<div class="border-y-2 border-gray-200 mt-[150px]">
			<div class="container max-w-[60%] m-auto flex justify-around items-center py-4">
				<Icon name="mdi:keyboard-arrow-left" size={25} class="text-gray-300"/>
				<Icon name="flagpack:us" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">inglés</p>
				<Icon name="flagpack:fr" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">francés</p>
				<Icon name="flagpack:de" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">alemán</p>
				<Icon name="flagpack:it" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">italiano</p>
				<Icon name="flagpack:br" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">portugués</p>
				<Icon name="flagpack:gh" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">catalán</p>
				<Icon name="flagpack:ru" size={35} class="rounded-xl" /><p class="uppercase font-bold text-sm hover:cursor-pointer text-[#696969cc]">ruso</p>
				<Icon name="mdi:keyboard-arrow-right" size={25} class="text-gray-300"/>
			</div>
		</div>
		<div class="flex">
			<div>
				
			</div>
			<div>
				
			</div>
		</div>
		
		<slot />
	</body>
</html>

